body{min-width:787px;overflow-x:hidden}ul,li{list-style-type:none}
.img{
	margin:0px;
	border:0px solid black;
	vertical-align:middle;
	width:50px;
	height:43px
}
label{

}
.background{
	background:url("../image/background.jpg") no-repeat scroll 0 0;
	height:300px
}
.login{
	padding:195px 50px;
	text-align:center;
	width:300px
}
.button{
	background:none repeat scroll 0 0 #ffcc18;
	border-radius:2px;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	margin-top:18px;
	padding:0 18px
}
.login input{
	border:1px solid #ccc;
	height:26px;
	line-height:26px;
	vertical-align:middle
}
textarea{
	resize:none
}