.index{
	min-width:320px;
	width:410px;
	min-height:250px;
	overflow-x:hidden;
	text-align:center
}
.index .index_logo{
	background:url('../image/index.jpg');
	text-shadow:1px 1px 0px #000000;
	margin-top:-8px; 
	margin-left:-10px; 
	margin-right:-10px;
	text-align:center;
	font-size:30px;
	font-family:DFKai-sb;
	height:40px
}
.index .ADL{
	border:2px #34160B;
	font-family:helvetica;
}
.index .index_input{
	background:url('../image/cbxbg.jpg')repeat;
	margin-left:-10px; 
	margin-right:-10px;
	margin-bottom:0px; 
	font-family:helvetica;
	border:0
}
.index .index_bg{
	background:url('../image/indexbg.jpg');
	margin-left:-10px; 
	margin-right:-10px;
	font-family:helvetica;
	border:0
}
.index .file_button_get{
	background:url('../image/get.png')
	no-repeat scroll 0 0;
	border:0 none;
	height:43px;
	width:150px;	
	color:#EBD88C;
	cursor:pointer;
	font-size:15px;
	font-family:helvetica;
	border-radius:0px
}
.index .file_button_cal{
	background:url('../image/calculate.png')
	no-repeat scroll 0 0;
	border:0 none;
	height:43px;
	width:150px;
	color:#EBD88C;
	cursor:pointer;
	font-size:15px;
	font-family:helvetica;
	border-radius:0px
}
.index .checkbx{
	background:url('../image/inputbg.jpg')
	repeat scroll 0 0;
	margin-left:-10px;
	margin-right:-10px; 
	font-family:helvetica;
	border:0;
}
.index_input{
	margin-top:28px
}