<a href="javascript:void(0);" id="battle"> <img class="indeximg" style="margin-left:-6px"  src="image/nav_menu_battle.png"/></a>
<a href="javascript:void(0);" id="parts">  <img class="indeximg" style="margin-left:-5px"  src="image/nav_menu_monster_parts.png"/></a>
<a href="javascript:void(0);" id="monster"><img class="indeximg" style="margin-left:-5px"  src="image/nav_menu_monster.png"/></a>
<a href="javascript:void(0);" id="album">  <img class="indeximg" style="margin-left:-5px"  src="image/nav_menu_album.png"/></a>
<a href="javascript:void(0);" id="shop">   <img class="indeximg" style="margin-left:-5px"  src="image/nav_menu_shop.png"/></a>
<a href="javascript:void(0);" id="setting"><img class="indeximg" style="margin-left:-10px" src="image/nav_menu_setting.png"/></a>
<a href="javascript:void(0);" id="info">   <img class="indeximg" style="margin-left:-5px" src="image/nav_menu_infomation.png"/></a>
<a href="javascript:void(0);" id="friend"> <img class="indeximg" style="margin-left:-5px" src="image/nav_menu_friend.png"/></a>
<a href="javascript:void(0);" id="exchg">  <img class="indeximg" style="margin-left:-5px" src="image/nav_menu_exchange.png"/></a>
<a href="javascript:void(0);" id="box">    <img class="indeximg" style="margin-left:-5px" src="image/nav_menu_box.png"/></a>
<a href="javascript:void(0);" id="mypage"> <img class="indeximg" style="margin-top:5px; margin-left:-15px" src="image/nav_mypage.png"/></a>
<a href="javascript:void(0);" id="quest">  <img class="indeximg" style="margin-top:5px; margin-left:-15px" src="image/nav_quest.png"/></a>
<a href="javascript:void(0);" id="merge">  <img class="indeximg" style="margin-top:5px; margin-left:-15px" src="image/nav_merge.png"/></a>
<a href="javascript:void(0);" id="gacha">  <img class="indeximg" style="margin-top:5px; margin-left:-15px" src="image/nav_gacha.png"/></a>
	
